<?xml version="1.0" encoding="UTF-8"?>
<config>

    <modules>
        <Aoe_AsyncCache>
            <version>1.0.0</version>
        </Aoe_AsyncCache>
    </modules>

    <frontend>
        <routers>
            <Aoe_AsyncCache>
                <use>standard</use>
                <args>
                    <module>Aoe_AsyncCache</module>
                    <frontName>aoeasynccache</frontName>
                </args>
            </Aoe_AsyncCache>
        </routers>
    </frontend>

    <global>
        <models>
            <aoeasynccache>
                <class>Aoe_AsyncCache_Model</class>
                <resourceModel>aoeasynccache_resource</resourceModel>
            </aoeasynccache>
            <aoeasynccache_resource>
                <class>Aoe_AsyncCache_Model_Resource</class>
                <entities>
                    <asynccache><table>asynccache</table></asynccache>
                </entities>
            </aoeasynccache_resource>
        </models>

        <helpers>
            <aoeasynccache>
                <class>Aoe_AsyncCache_Helper</class>
            </aoeasynccache>
        </helpers>

        <blocks>
            <aoeasynccache>
                <class>Aoe_AsyncCache_Block</class>
            </aoeasynccache>
        </blocks>

        <resources>
            <aoeasynccache_setup>
                <setup><module>Aoe_AsyncCache</module></setup>
                <connection><use>core_setup</use></connection>
            </aoeasynccache_setup>
        </resources>

        <events>
            <aoe_tools_clearcache_cli>
                <observers>
                    <aoeasynccache>
                        <type>singleton</type>
                        <class>aoeasynccache/cleaner</class>
                        <method>processQueue</method>
                    </aoeasynccache>
                </observers>
            </aoe_tools_clearcache_cli>

            <phpunit_suite_start_after>
                <observers>
                    <aoeasynccache>
                        <class>Aoe_AsyncCache_PHPUnitTest_Observer</class>
                        <method>disableAsyncCache</method>
                    </aoeasynccache>
                </observers>
            </phpunit_suite_start_after>
        </events>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Aoe_AsyncCache before="Mage_Adminhtml">Aoe_AsyncCache_Adminhtml</Aoe_AsyncCache>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <aoeasynccache>
                    <file>aoeasynccache/aoeasynccache.xml</file>
                </aoeasynccache>
            </updates>
        </layout>
    </adminhtml>

    <crontab>
        <jobs>
            <aoeasynccache>
                <schedule><config_path>system/aoeasynccache/scheduler_cron_expr</config_path></schedule>
                <run><model>aoeasynccache/cleaner::processQueue</model></run>
            </aoeasynccache>
        </jobs>
    </crontab>

    <default>
        <system>
            <aoeasynccache>
                <scheduler_cron_expr>*/15 * * * *</scheduler_cron_expr>
                <select_limit>0</select_limit>
            </aoeasynccache>
        </system>
    </default>
</config>
